<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>WebProjectClient</display-name>
 <servlet>
  <display-name>ServicioCompuesto</display-name>
  <servlet-name>ServicioCompuesto</servlet-name>
  <jsp-file>/ServicioCompuesto.jsp</jsp-file>
 </servlet>
 <servlet>
  <display-name>test_ws1</display-name>
  <servlet-name>test_ws1</servlet-name>
  <jsp-file>/test_ws1.jsp</jsp-file>
 </servlet>
 <servlet>
  <display-name>test_ws2</display-name>
  <servlet-name>test_ws2</servlet-name>
  <jsp-file>/test_ws2.jsp</jsp-file>
 </servlet>
 <servlet-mapping>
  <servlet-name>ServicioCompuesto</servlet-name>
  <url-pattern>/ServicioCompuesto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>test_ws1</servlet-name>
  <url-pattern>/test_ws1</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>test_ws2</servlet-name>
  <url-pattern>/test_ws2</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
 </welcome-file-list>
</web-app>
