@font-face {
  font-family: 'Yanone-thin';
  font-style: normal;
  font-weight: 300;
  src: local('Yanone-thin'), url('http://themes.googleusercontent.com/font?kit=We_iSDqttE3etzfdfhuPRfYfc3bPVUtuDoUoHMkf5-E') format('truetype');
}

.pikachoose{width:645px;position:relative; margin:10px 15px 10px 0}

.pika-image {position: absolute; top:100px; right:0; height: 480px; width: 625px; background: #fafafa; border: 1px solid #e5e5e5; padding: 9px;}
	/*position image holders */
	.pika-image .animation, .pika-image .main-image {position: absolute; top: 9px; left: 9px;}
	.pika-image .animation {display: none;z-index:2;background-size:100%;-moz-background-size:100%;}
	div.animation {background-size:100%;-moz-background-size:100%;}
.pika-image img {border:0; width:625px;}

.pika-image .caption {position: absolute; background: url(../../images/pikachoose/75-black.png);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 9px; text-align: right; bottom: 50px; right: 9px;}
	.pika-image .caption p {padding: 0; margin: 0; line-height: 14px;}

.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
	.pika-imgnav a.previous {background: url(../../images/pikachoose/prev.png) no-repeat left 50%; height: 480px; width: 50px; top: 9px; left: 9px;cursor:pointer;}
	.pika-imgnav a.next {background: url(../../images/pikachoose/next.png) no-repeat right 50%; height: 480px; width: 50px; top: 9px; right: 9px;cursor:pointer;}
	.pika-imgnav a.play {background: url(../images/pikachoose/play.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url(../images/pikachoose/pause.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display:none;cursor:pointer;}

.pika-textnav {overflow: hidden; margin: 10px 0 0 0;}
.pika-textnav a {font-size: 12px; text-decoration: none; font-family:  helvetica, arial, sans-serif; color: #333; padding: 4px;}
		.pika-textnav a:hover {background: #e5e5e5; color: #0065B2;}
	.pika-textnav a.previous {float: left; width: auto; display: block;}
	.pika-textnav a.next {float: right; width: auto; display: block;}
	
.pika-thumbs {margin: 10px 0 0 0; padding: 0; overflow: hidden; }
	.pika-thumbs li {float: left; list-style-type: none; width: 74px; padding: 3px; margin: 0 2px; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;}
		.pika-thumbs li:last {margin: 0;}
		.pika-thumbs li .clip {position:relative;width: 74px; height: 74px; text-align: center; vertical-align: center; overflow: hidden;}

/* jCarousel Styles */
.jcarousel-skin-pika .jcarousel-container-horizontal {
    padding: 5px 40px;
}

.jcarousel-skin-pika .jcarousel-container-vertical {
    width: 90px;
    height: 480px;
    padding: 20px 20px;
}

.jcarousel-skin-pika .jcarousel-clip-horizontal {
    height: 90px;
    width: 560px;
}

.jcarousel-skin-pika .jcarousel-clip-vertical {
    width:  90px;
    height: 480px;
}

.jcarousel-skin-pika .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-pika .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-pika .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-pika .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/pikachoose/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-pika .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../../images/pikachoose/prev-horizontal.png);
}

.jcarousel-skin-pika .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-pika .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-pika .jcarousel-next-disabled-horizontal,
.jcarousel-skin-pika .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-pika .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-pika .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/pikachoose/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-pika .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../../images/pikachoose/next-horizontal.png);
}

.jcarousel-skin-pika .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-pika .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-pika .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-pika .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-pika .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

